.textoGeneral {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.pageNum {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
}

.cabecera {
    background-color: #CCCCCC;
}

#tablaGeneral {
    font-family: Arial;
    font-size: 9px;
    width: 100.0%;
}
.cambioPagina {
    page-break-after: always;
}
td {
 text-transform: none;
 font-size: 9px;
 white-space:nowrap;
}